<footer class="footer">

  <div class="container">



        <nav class="nav">
          <div class="nav-center">
            <a href="https://twitter.com/iamfraserk"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span></a>
            <a href="https://github.com/fraserk"><span class="icon icon--twitter">{% include icon-github.svg %}</span></a>
            <a href="{{ "/feed.xml" | relative_url }}" class="">via RSS</a>
          </div>
        </nav>
      </div>


  </div>

</footer>
