    <!-- <nav class="nav has-shadow">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>
        </div>
        <div class="nav-right">
          <a href="#" class="nav-item">Home</a>
          <a href="#" class="nav-item">Project</a>
        </div>
    </nav> -->

<section class="hero">
  <div class="hero-body ">
    <div class="container has-text-centered">
    <img src="{{"/assets/images/fraserk-logo.png"}}"   />
    </div>
  </div>
  <div class="hero-footer">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/projects">Projects</a></li>
        </ul>
      </div>

    </nav>
  </div>
</section>
</div>
