
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body{
  background: #fff;
}
.site-content {
  flex: 1;
}


.is-custom-color{
  background: #7f5656;
}

.footer{
  background: #fff;
}

.h-100{
  height: 100%;
  background: #ddd;
}
